In [11]:
#Constants
DATA_PATH = "/Users/Hashem/Link TSP/Project1/data/raw/survey_results_public.csv"
EXPORT_PATH = 3

REPLACE_DICT ={
    'YearsCodePro' : {'Less than 1 year' : 0, 'More than 50 years' : 51},
    'YearsCode' : {'Less than 1 year' : 0, 'More than 50 years' : 51},
    'Age1stCode' : {'Older than 85' : 86, 'Younger than 5 years' : 4},
}

Libraries

In [12]:
#Load packages
import pandas as pd
import numpy as np
import logging
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows = 10000

Function

In [13]:
def split_answers(data_series, delimiter=';'):
    """
    Split multiple answer is a signal string
    to a list of single each represnting a single answer

    parameters:
    data_series (pd.Series): String series with answers
    delimiter (string): Another decimal integer
                        Defaults to ";"
    
    Returns: (pd.Series): If column contains
    """
    #sub function
    def is_splittable(pd_series, delimiter):
        """ Check if results multiple should be sp;itted - Returns boolean """
        return pd_series.str.contains(delimiter)

    def split_answer(pd_series, delimiter):
        """ Function to split signle answer"""
        return pd_series.str.split(delimiter)

    #-------------------------------------------
    #check if multiple answer exist - if name: return original
    splittable_values = is_splittable(data_series, delimiter)
    if not splittable_values.any():
        return data_series
    #Else, split each value to a list
    modified_series = split_answer(data_series, delimiter)

    #replace NAs with empty lists
    mask_null = modified_series.isnull()
    modified_series.loc[mask_null] = modified_series.loc[mask_null].apply(lambda x: [])

Processing

Preprocess Data

In [14]:
raw_df= pd.read_csv(DATA_PATH)
df = raw_df.copy()

1. Replace Values and parse

In [15]:
for col, replacement in REPLACE_DICT.items():
    df[col]= df[col].replace(replacement).astype(np.float32)

2. Split multiple answers

In [16]:
object_cols = df.select_dtypes(include = 'object').columns.tolist()
for col in object_cols:
    df[col] = split_answers(df[col])

Export Data

In [17]:
#df.to_pickle(EXPORT_PATH)

In [18]:
raw_df.shape

(64461, 61)

In [19]:
#Display random answer
#Observations: Multiple answers need to be splitted
#Reference to the schema needed to understannd
raw_df.sample(1).iloc[0]

Respondent                                                                  60565
MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                          31.0
Age1stCode                                                                     18
CompFreq                                                                  Monthly
CompTotal                                                                 32000.0
ConvertedComp                                                              7584.0
Country                                                               Philippines
CurrencyDesc                                                      Philippine peso
CurrencySymbol                                                                PHP
DatabaseDesireNextYear          Elasticsearch;Firebase;MySQL;PostgreSQL;Redis;...
DatabaseWorkedWith                    Elasticsearch;MySQL;PostgreSQL;Redis;SQLite
DevType                                 Developer, back-end;Developer, full-stack
EdLevel                              Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                                         Southeast Asian
Gender                                                                        Man
JobFactors                      Diversity of the company or organization;Flex ...
JobSat                                                         Slightly satisfied
JobSeek                                           I am actively looking for a job
LanguageDesireNextYear          Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
LanguageWorkedWith              Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
MiscTechDesireNextYear                                               React Native
MiscTechWorkedWith                                                   React Native
NEWCollabToolsDesireNextYear    Jira;Github;Facebook Workplace;Slack;Trello;Go...
NEWCollabToolsWorkedWith        Github;Slack;Trello;Google Suite (Docs, Meet, ...
NEWDevOps                                                                Not sure
NEWDevOpsImpt                                                             Neutral
NEWEdImpt                                                          Very important
NEWJobHunt                                                    Looking to relocate
NEWJobHuntResearch              Read company media, such as employee blogs or ...
NEWLearn                                                         Every few months
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                Yes
NEWOtherComms                                                                 Yes
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch                                            Start a free trial
NEWPurpleLink                                                             Annoyed
NEWSOSites                      Stack Overflow (public Q&A for anyone who code...
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                       MacOS
OrgSize                         Just me - I am a freelancer, sole proprietor, ...
PlatformDesireNextYear                     AWS;Google Cloud Platform;Heroku;MacOS
PlatformWorkedWith                                     AWS;Heroku;MacOS;WordPress
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                     Yes
SOComm                                                              Yes, somewhat
SOPartFreq                                        A few times per month or weekly
SOVisitFreq                                                 Daily or almost daily
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear          Django;Flask;Gatsby;React.js;Ruby on Rails;Vue.js
WebframeWorkedWith                                  Django;React.js;Ruby on Rails
WelcomeChange                            Somewhat less welcome now than last year
WorkWeekHrs                                                                  25.0
YearsCode                                                                       2
YearsCodePro                                                                    1
Name: 59387, dtype: object

In [20]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [21]:
raw_df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

In [22]:
questionable_cols=['YearsCodePro', 'YearsCode', 'Age1stCode']

In [25]:
for col in questionable_cols:
    print(col)
    print(df[col].unique().tolist())
    print('---------------')
    print()

YearsCodePro
[27.0, 4.0, nan, 8.0, 13.0, 2.0, 7.0, 20.0, 1.0, 23.0, 3.0, 12.0, 17.0, 18.0, 10.0, 14.0, 29.0, 6.0, 28.0, 9.0, 15.0, 11.0, 16.0, 25.0, 0.0, 5.0, 21.0, 19.0, 35.0, 24.0, 32.0, 22.0, 30.0, 38.0, 26.0, 40.0, 33.0, 31.0, 51.0, 34.0, 36.0, 39.0, 37.0, 41.0, 45.0, 47.0, 42.0, 46.0, 50.0, 43.0, 44.0, 48.0, 49.0]
---------------

YearsCode
[36.0, 7.0, 4.0, 15.0, 6.0, 17.0, 8.0, 10.0, 35.0, 5.0, 37.0, 19.0, 9.0, 22.0, 30.0, 23.0, 20.0, 2.0, 0.0, 3.0, 13.0, 25.0, 16.0, 43.0, 11.0, 38.0, 33.0, nan, 24.0, 21.0, 12.0, 40.0, 27.0, 50.0, 46.0, 14.0, 18.0, 28.0, 32.0, 44.0, 26.0, 42.0, 31.0, 34.0, 29.0, 1.0, 39.0, 41.0, 45.0, 51.0, 47.0, 49.0, 48.0]
---------------

Age1stCode
[13.0, 19.0, 15.0, 18.0, 16.0, 14.0, 12.0, 20.0, 42.0, 8.0, 25.0, 22.0, 30.0, 17.0, 21.0, 10.0, 46.0, 9.0, 7.0, 11.0, 6.0, nan, 31.0, 29.0, 5.0, 4.0, 28.0, 38.0, 23.0, 27.0, 41.0, 24.0, 53.0, 26.0, 35.0, 32.0, 40.0, 33.0, 36.0, 54.0, 48.0, 56.0, 45.0, 44.0, 34.0, 86.0, 39.0, 51.0, 68.0, 50.0, 37.0, 47.0, 43.0, 52.0, 85.0, 64.0, 55.0, 58.0, 49.0, 76.0, 72.0, 73.0, 83.0, 63.0]
---------------

In [24]:
raw_df.nunique()

Respondent                      64461
MainBranch                          5
Hobbyist                            2
Age                               110
Age1stCode                         63
CompFreq                            3
CompTotal                        3003
ConvertedComp                    6958
Country                           183
CurrencyDesc                      142
CurrencySymbol                    141
DatabaseDesireNextYear           3193
DatabaseWorkedWith               2808
DevType                          8269
EdLevel                             9
Employment                          7
Ethnicity                         208
Gender                              7
JobFactors                        230
JobSat                              5
JobSeek                             3
LanguageDesireNextYear          16243
LanguageWorkedWith              14256
MiscTechDesireNextYear           5216
MiscTechWorkedWith               2730
NEWCollabToolsDesireNextYear     1277
NEWCollabToolsWorkedWith         1153
NEWDevOps                           3
NEWDevOpsImpt                       5
NEWEdImpt                           5
NEWJobHunt                       2172
NEWJobHuntResearch                 63
NEWLearn                            4
NEWOffTopic                         3
NEWOnboardGood                      3
NEWOtherComms                       2
NEWOvertime                         5
NEWPurchaseResearch                63
NEWPurpleLink                       4
NEWSOSites                         61
NEWStuck                          444
OpSys                               4
OrgSize                             9
PlatformDesireNextYear           7471
PlatformWorkedWith               6287
PurchaseWhat                        3
Sexuality                          14
SOAccount                           3
SOComm                              6
SOPartFreq                          6
SOVisitFreq                         6
SurveyEase                          3
SurveyLength                        3
Trans                               2
UndergradMajor                     12
WebframeDesireNextYear           3986
WebframeWorkedWith               3789
WelcomeChange                       6
WorkWeekHrs                       157
YearsCode                          52
YearsCodePro                       52
dtype: int64