In [1]:
DF_PATH = "../data/processed/1_preprocessed_df.pkl"
ROLES_PATH = "../data/raw/roles_short_names.csv"
NA_STRAING = 'Not Specified'
TRANSPARENT_STRING = 'rgba(0, 0, 0, 0)'

ROLE_COLS      = ['DevType']
TECH_COLS      = ['LanguageWorkedWith', 'DatabaseWorkedWith', 'WebframeWorkedWith', 'MiscTechWorkedWith', ]
TECH_NEXT_COLS = ['LanguageDesireNextYear', 'DatabaseDesireNextYear', 'WebframeDesireNextYear', 'MiscTechDesireNextYear',]

In [2]:
# load packages
import pandas as pd
import numpy as np
import logging 
import pickle

import plotly
import plotly.graph_objects as go 
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.figure_factory as ff

from sklearn.manifold import TSNE
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline
from sklearn.cluster import AgglomerativeClustering

from matplotlib import pyplot as plt
from scipy.cluster.hierarchy import dendrogram

Read Data and Preprocess

In [3]:
# Read Data
raw_df = pd.read_pickle(DF_PATH)
#roles_names = pd.read_csv(ROLES_PATH, sep=';')

In [4]:
raw_df[ROLE_COLS + TECH_COLS]

,DevType,LanguageWorkedWith,DatabaseWorkedWith,WebframeWorkedWith,MiscTechWorkedWith
0,"[Developer, desktop or enterprise application...",C#;HTML/CSS;JavaScript,Elasticsearch;Microsoft SQL Server;Oracle,ASP.NET;ASP.NET Core,.NET;.NET Core
1,"[Developer, full-stack;Developer, mobile]",JavaScript;Swift,NaN,NaN,React Native
2,[],Objective-C;Python;Swift,NaN,NaN,NaN
3,[],NaN,NaN,NaN,NaN
4,[],HTML/CSS;Ruby;SQL,MySQL;PostgreSQL;Redis;SQLite,Ruby on Rails,Ansible
...,...,...,...,...,...
64456,[Senior executive/VP],NaN,NaN,NaN,NaN
64457,[],Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN
64458,[],NaN,NaN,NaN,NaN
64459,[],HTML/CSS,Oracle,NaN,NaN
64460,[],C#;HTML/CSS;Java;JavaScript;SQL,MariaDB;Microsoft SQL Server;MySQL;Oracle,Angular;Angular.js;ASP.NET Core;jQuery,.NET;.NET Core

Onehot enconde

In [6]:
df = raw_df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64461 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  float32
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64461 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       64461 non-null  object
 14  EdLevel                       64461 non-null  object
 15  Employment                    64461 non-null  object
 16  Ethnicity                     64461 non-null  object
 17  Gender                        64461 non-null  object
 18  JobFactors                    64461 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       64461 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  64461 non-null  object
 26  NEWCollabToolsWorkedWith      64461 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            64461 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 64461 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       64461 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        64461 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                64461 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  float32
 60  YearsCodePro                  46349 non-null  float32
dtypes: float32(3), float64(4), int64(1), object(53)
memory usage: 29.3+ MB

In [5]:


encoded_dfs = {}
for col in ROLE_COLS + TECH_COLS:
    binarize = MultiLabelBinarizer()
    encoded_df = pd.DataFrame(binarize.fit_transform(df[col]),
                                columns = binarize.classes_,
                                index = df[col].index)
    encoded_dfs[col] = encoded_df

TypeError: 'float' object is not iterable

In [ ]:
# Marge 1-hot encoded
df = pd.concat(encoded_dfs, axis = 1)

NameError: name 'encoded_dfs' is not defined

In [ ]:
pwd

'c:\\Users\\Hashem\\Link TSP\\Project1\\notebooks'